@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Manrope;
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e1e;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-image: url(./assets/images/Sub\ Container.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  opacity: 0.6;
  margin-bottom: 200px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  margin-bottom: 20px;
}

.items {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.items-link {
  font-size: 18px;
  font-weight: Medium;
  line-height: 150%;
  color: #ffffff;
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
}

.items-link:hover {
  color: #e50000;
}


/* Section 1  */
.main-one-heading{
    font-size: 28px;
    font-weight: bold;
    line-height: 150%;
    color: #ffffff;
}
.main-four__box {
    background-image: url(../assets/images/Background\ Images.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 236px;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  
    margin-bottom: 100px;
  }
  .main-four-text {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .main-four__btn {
    width: 150px;
    height: 50px;
    background-color: #e50000;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 150%;
  }

  /* Footer */
  .footer-box {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .column-heading {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 150%;
  }
  
  .column-parts {
    font-size: 16px;
    font-weight: medium;
    color: #999999;
    line-height: 150%;
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    cursor: pointer;
  }
  .column-parts:hover {
    color: #e50000;
  }
  .footer {
    width: 100%;
    background-color: #0f0f0f;
    padding: 50px;
  }
  
  .column-heading__list {
    margin-bottom: 20px;
  }
  .column-parts__list {
    margin-bottom: 10px;
  }
  
  /*  */
  
  .footer-box__copyrights {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer-items {
    width: 322px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyrights__text {
    font-size: 14px;
    line-height: 150%;
    color: #999999;
  }
  .footer__link {
    font-size: 14px;
    line-height: 150%;
    color: #999999;
  }
  